.resetPassword {
  margin-top: 10px;
}

.resetPassword a {
  color: #297ee1;
  text-decoration: none;
}

.signIn {
  color: $btnColor;
  font-family: arial;
  font-weight: bold;
  padding-left: 3rem;
}
